body{
    background-image:url("bg.jpg");
    background-color: white; 
}

audio{
    position: absolute;
    left:70%;
    top:92.5%;
    border: 1px solid black;
}
.btn-group{
    position:absolute;
    left:30%;
}
#canvas-part{
    background-color: white;
    top:10%;
    left:20%;
    position:absolute;
    width: 75%;
    height:80%;
}
canvas{
    background-color: white;
    top:10%;
    left:20%;
    position:absolute;
}


div.tool_box{
    background-image:url("toolbg.jpg");
    text-align: center;
    margin-top:5%;
    width:12%;
    height:550px;
    border:4px solid brown;
    position:absolute;
    left:2%;
    box-shadow: 10px 10px 10px #ffffff;
}

div.color-sel
{
    background-color: gray;
    position: absolute;
    top:1px;
    left:8px;
    border:3px solid black;
}

.btn-info{
    margin-top:40px;
    border:5px solid;
    border-color: black;
}

img{
    width: 40px;
    height: 40px;
}

#color{
    width: 20px;
    height: 20px;
}

#color_button{
    padding:1px;
}